{% extends "spectra/base.html" %}

{% block title %}Login - THz Database{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Login</h2>
    {% if form.errors %}
        <div class="messages">
            <li class="error">
                Your username and password didn't match. Please try again.
            </li>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <div class="messages">
            <li class="warning">
                Your account doesn't have access to this page. To proceed, please login with an account that has access.
            </li>
        </div>
        {% else %}
        <div class="messages">
            <li class="info">
                Please login to see this page.
            </li>
        </div>
        {% endif %}
    {% endif %}

    <form method="post" class="login-form" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
        </div>
        <button type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p style="margin-top: 18px;"><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}